venv
.venv
env
__pycache__
**/__pycache__
*.py[cod]
*$py.class

.pytest_cache
.mypy_cache
.ruff_cache
.cache
htmlcov
coverage.xml

.env
.env.*

models/cache
models/.cache
models/**/*.cache
models/**/*.tmp

.DS_Store
.git
.gitignore
Dockerfile
